@import url(./variabel.css);
* {
    font-family: var(--nunito) !important;
}
#auth section.hero-content {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    /* background-color: black; */
}
#auth .hero-content .content {
    position: relative;
    z-index: 3;
    display: flex;
    align-items: center;
}
#auth .relative-content {
    position: relative;
    z-index: 5;
}
/* section.hero-content::after {
    content: "";
    z-index: 2;
    position: absolute;
    inset: 0;
    top: 15%;
    background-image: url(../images/logo.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    filter: opacity(0.2);
  } */
#auth .hero-content #slideHeroContent {
    position: absolute;
    inset: 0;

    z-index: 2;
    filter: opacity(0.1);
}
#auth #slideHeroContent .carousel-inner,
#auth #slideHeroContent .carousel-inner .carousel-item,
#auth #slideHeroContent .carousel-inner .carousel-item img {
    height: 100%;
}
@media (max-width: 575.98px) {
    #auth .hero-content #slideHeroContent {
        top: 50%;
        transform: translateY(-50%);
    }
}
.font-logo {
    font-family: var(--fontLogo) !important;
}
.form-control:focus {
    border-color: var(--red) !important;
    box-shadow: 0 0 0 0.25rem #e9b7bc !important;
}
